/* Winter Dresses*/
  .fanta-black{
    background: #170102;
  }
  .dark-red{
    background: #45313D;
  }

/* Summer P1*/
  .pink {
    background: #C4AEDC;
  }
  .red {
    background: #961440;
  }
  .darkGreen {
    background: #3C6271;
  }
  .whiteBlue {
    background: #4478AE;
  }
  .brown {
    background: #291E1D;
  }
  .purple {
    background: #331A40;
  }
  .whiteCaffe {
    background: #DDB89E;
  }
  .liteBrown{
    background: #672213;
  }
  .whiteGreen{
    background: #76978E;
  }
  .whitePink{
    background: #D6B4BB;
  }
  .pinkMatt{
    background: #E85D96;
  }

/* Summer P2*/

  .dp2-1{
    background: #9E392F;
  }
  .dp2-2{
    background: #BD8CA1;
  }
  .dp2-3{
    background: #A88176;
  }
  .dp2-4{
    background: #0B090C;
  }
  .dp2-5{
    background: #662443;
  }
  .dp2-6{
    background: #02284C;
  }
  
/* Summer P3*/
  .dp3-1{
        background: #6E7379;
  }
  .dp3-2{
        background: #770216;
  }
  .dp3-3{
        background: #3D3B45;
  }

/* Summer P4*/
  .dp4-1{
    background: #A4A9A5;
  }
  .dp4-2{
        background: #57768F;
  }
  .dp4-3{
        background: #567C81;
  }
  .dp4-4{
    background: #D8A2B9;
}


/* Summer P5*/
  .dp5-1{
    background: #1A6760;
  }
  .dp5-2{
    background: #B2654B;
  }
  .dp5-3{
    background: #B6A2A6;
  }
  .dp5-4{
    background: #107483;
  }
  .dp5-5{
    background: #C66CA7;
  }
  .dp5-6{
    background: #A94D34;
  }
  .dp5-7{
    background: #15416C;
  }


/* Summer P6*/
  .dp6-1{
    background: #E01492;
  }
  .dp6-2{
    background: #010082;
  }
  .dp6-3{
    background: #98A399;
  }
  .dp6-4{
    background: #90ADCE;
  }
  .dp6-5{
    background: #B3B3B1;
  }
  .dp6-6{
    background: #D9CFDB;
  }
  .dp6-7{
    background: #171313;
  }
  .dp6-8{
    background: #50071F;
  }
  .dp6-9{
    background: #76375E;
  }
  .dp6-10{
    background: #0F1410;
  }
  .dp6-11{
    background: #657E98;
  }


/* Ednaa P1*/
  .ep1-1{
    background: #D0BDB5;
  }
  .ep1-2{
    background: #0C3160;
  }
  .ep1-3{
    background: #E0CFBF;
  }
  .ep1-4{
    background: #272727;
  }



  /* Other */
  .other-item{
    justify-content: center;
    display: inline-flex !important;
    background-color: #b890b8;
    color: white;
    font-weight: 700;
  }