/* Winter Dresses*/
  .fanta-black{
    background: #170102;
  }
  .dark-red{
    background: #532A33;
  }

/* Summer P1*/
  .pink {
    background: #C4AEDC;
  }
  .red {
    background: #961440;
  }
  .darkGreen {
    background: #3C6271;
  }
  .whiteBlue {
    background: #4478AE;
  }
  .brown {
    background: #291E1D;
  }
  .purple {
    background: #331A40;
  }
  .whiteCaffe {
    background: #DDB89E;
  }
  .litePurple{
    background: #4F1873;
  }
  .liteBrown{
    background: #672213;
  }
  .whiteGreen{
    background: #76978E;
  }
  .whitePink{
    background: #D6B4BB;
  }
  .lateh{
    background: #D0BDB5;
  }

/* Summer P2*/

  .dp2-1{
    background: #C48392;
  }
  .dp2-2{
    background: #E85D96;
  }
  .dp2-3{
    background: #9E392F;
  }
  .dp2-4{
    background: #BD8CA1;
  }
  .dp2-5{
    background: #A88176;
  }
  .dp2-6{
    background: #0B090C;
  }
  .dp2-7{
    background: #662443;
  }
  .dp2-8{
    background: #02284C;
  }

/* Summer P3*/
  .dp3-1{
        background: #6E7379;
  }
  .dp3-2{
        background: #770216;
  }
  .dp3-3{
        background: #3D3B45;
  }

/* Summer P4*/
  .dp4-1{
        background: #D8A2B9;
  }
  .dp4-2{
        background: #57768F;
  }
  .dp4-3{
        background: #567C81;
  }
  .dp4-4{
        background: #A4A9A5;
  }


/* Summer P5*/

/* Summer P6*/


  