/* Winter Dresses*/
  .fanta-black{
    background: #170102;
  }
  .dark-red{
    background: #532A33;
  }

/* Summer P1*/
  .pink {
    background: #C4AEDC;
  }
  .red {
    background: #961440;
  }
  .darkGreen {
    background: #3C6271;
  }
  .whiteBlue {
    background: #4478AE;
  }
  .brown {
    background: #291E1D;
  }
  .purple {
    background: #331A40;
  }
  .whiteCaffe {
    background: #DDB89E;
  }
  .litePurple{
    background: #4F1873;
  }
  .liteBrown{
    background: #672213;
  }
  .whiteGreen{
    background: #76978E;
  }
  .whitePink{
    background: #D6B4BB;
  }

/* Summer P2*/

/* Summer P3*/

/* Summer P4*/

/* Summer P5*/

/* Summer P6*/


  